.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#09507c;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.radioCustomButton {
  background-color: #f58832;
}