.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#09507c;
  height: 100px;
  padding: 10px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.radioCustomButton {
  background-color: #f58832;
}
 .row {
justify-content: center;
height: 100%;
width: 100%;
} 

 .row::after {
  content: "";
  clear: both;
  display: table;
}  

.left {
  float: left;
  width: 50%;
} 

 .right {
  float: right;
  width: 50%;
}